<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>MSKCC Patient Education</title>
<link rel="stylesheet" href="/s/s.css" media="screen"/>
<link rel="stylesheet" href="/s/p.css" media="print"/>
</head>
<body>
<div id="wrapper"> 
{%include header%}
<div class="divider"></div>

<article class="borderless">
<h1 class="articletitle"><a href="{{ page.url }}">{{ page.title }}</a></h1>
<div class="content">
<div class="metadata">
{% if page.categories %}<p><strong>Primary Category: </strong>{{ page.categories }}</p> {% endif %}
{% if page.summary %}<p><strong>Summary: </strong>{{ page.summary }}</p> {% endif %}
{% if page.notes %}<p><strong>Notes: </strong> {{ page.notes }}</p> {% endif %}
{% if page.strategy %}<p><strong>Strategy/Actions: </strong>{{ page.strategy }}</p> {% endif %}
{% if page.jargonwords %}
<div id="jargon">
<p class="strong">Obscure Words:</p>
<p>These words appeared in this article, but don't appear frequently in standard written English. They may need to be explained to readers.</p>
  {% assign jargonwords = page.jargonwords %}
  {% include jargon_words %}
</div>
{% endif %}
</div>
{{content}} 
</div>
</article>

<div class="divider breathe"></div>
{%include footer%}
</div><!--wrapper-->
</body>
{%include js%}
</html>

